/* Main Header Style */
.header {
    background-color: #eff1f5;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; /* Making the header sticky */
    top: 0; /* It sticks to the top */
    z-index: 1000; /* Ensures the header is always on top of other content */
    font-family: 'Raleway', sans-serif; /* Setting the Raleway font */
}

.portrait {
    max-width: 200px;
    border-radius: 50%; /* This makes the image round */
    margin: 20px 0;
    
    /* Border properties */
    border: 5px solid #4CAF50; /* This gives a 5px border with a pleasant green color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
}

/* Logo or Name */
.header .logo {
    font-size: 24px;
    font-weight: bold;
}

/* Navigation Links */
.header nav {
    display: flex;
    gap: 20px; /* Spacing between links */
}

.header nav a {
    text-decoration: none;
    color: #333;
    transition: font-weight 0.3s;
    font-weight: 400; /* Normal weight for Raleway */
}

.header nav a:hover,
.header nav a.active {
    font-weight: 700; /* Bold weight for Raleway when hovered or active */
}

/* For Mobile Responsiveness */
@media (max-width: 768px) {
    .header nav {
        display: none; /* Initially hide on mobile */
    }

    /* Other styles for hamburger menu, etc. would go here */
}
